<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Profile - Socialbook</title>
    <script src="https://kit.fontawesome.com/ef7e2b893b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>

<body style="background: var(--body-color)">
<nav class="navbar" style="height: 57.862px;">
    <div class="nav-left"><a href="/home"><img class="logo" src="/images/logo.png" alt=""
                                               style="margin-bottom: 8px;"></a>
    </div>
    <div class="nav-right">
        <div class="profile-image online" onclick="UserSettingToggle()">
            <div class="my-avatar" style="margin-bottom: 8px;">

            </div>
        </div>
    </div>
    <div class="user-settings">
        <div class="profile-darkButton">
            <div class="user-profile">
                <div class="my-avatar">

                </div>

                <div>
                    <p class="my-username" style="font-family: 'Poppins', sans-serif"></p>
                    <a href="/profile">See your profile</a>
                </div>
            </div>
            <div id="dark-button" onclick="darkModeON()">
                <span></span>
            </div>
        </div>
        <hr>
        <div class="user-profile">
            <img src="/images/feedback.png" alt="">
            <div>
                <p> Give Feedback</p>
                <a href="#">Help us to improve</a>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="/images/setting.png" alt="" class="settings-icon">
            <a href="#">Settings & Privary <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="/images/help.png" alt="" class="settings-icon">
            <a href="#">Help & Support <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="/images/Display.png" alt="" class="settings-icon">
            <a href="#">Display & Accessibility <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="/images/logout.png" alt="" class="settings-icon">
            <a href="/">Logout <img src="/images/arrow.png" alt=""></a>
        </div>
    </div>
</nav>

<!-- profile-page-------------------------- -->
<div class="container" style="display: block;margin: 20px auto;width: 700px;">
    <div class="card">
        <div class="card-header">
            <h5 style="font-weight: bold;color: #1876f2;margin-bottom: 0;line-height: 48px;">Edit your information</h5>
        </div>

        <form id="edit-user-info">
            <!--Content-->
            <div class="card-body">
                <div class="mb-3" id="intro">
                    <label class="form-label">Intro</label>
                    <input class="form-control" type="text" name="intro" id="edit-intro">
                </div>
                <div class="mb-3" id="work">
                    <label class="form-label">Work</label>
                    <input class="form-control" type="text" name="work" id="edit-work">
                </div>
                <div class="mb-3" id="address">
                    <label class="form-label">Address</label>
                    <input class="form-control" type="text" name="address" id="edit-address">
                </div>
                <div class="mb-3">
                    <label class="form-label">Avatar</label>
                    <input class="form-control" type="file" name="avatar" id="edit-avatar">
                </div>
                <div class="mb-3">
                    <label class="form-label">Cover</label>
                    <input class="form-control" type="file" name="cover" id="edit-cover">
                </div>
            </div>
        </form>
        <!--Footer-->
        <div class="card-footer">
            <a href="/profile">
                <button type="button" class="btn btn-secondary" style="float: right; margin: 5px">Back</button>
            </a>
            <button type="button" class="btn btn-primary" style="float: right; margin: 5px" onclick="editUserInfo()">
                Edit now
            </button>
        </div>
    </div>
</div>


<footer id="footer" style="height: 50px;">
    <p>&copy; Copyright 2021 - Socialbook All Rights Reserved</p>
</footer>


<!--Toast-Message-->
<div class="position-fixed top-0 end-0" style="z-index: 11; background-color: rgba(255,255,255,1);">
    <div id="editInfoToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header" style="background-color: #1876f2">
            <strong class="me-auto" style="color: #fff">Success</strong>
            <small style="color: #fff">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="color: #fff"></button>
        </div>
        <div class="toast-body">
            Your account has been successfully updated.
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>
<script src="/js/function.js"></script>
<script src="/js/main.js"></script>
</body>
</html>